<ul class="errors">
<% @animal.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul><!-- .errors -->

<%= form_for @animal do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div><!-- field -->

	<div class="field">
		<%= f.label :species %>
		<%= f.text_field :species %>
	</div><!-- field -->

	<div class="field">
		<%= f.label :photo %>
		<%= f.text_field :photo %>
	</div><!-- field -->

	<%= f.submit %>	
<% end %>