<!DOCTYPE html>
<html>
<head>
  <title>Moviez</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>Moviez</header>
<div id='nav'>
	<%= link_to "Home", "/" %>
	<%= link_to "About", about_path %>
	<%= link_to "FAQ", faq_path %>
	::
	<%= link_to "Movies", movies_path %>
	<%= link_to "New Movie", movies_new_path %>

</div><!-- #nav -->

<%= yield %>

<footer>(c) 2012 Moviez Global Corporation</footer>

</body>
</html>
